<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crazy Larry's Car Emporium!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using Dealership.Models;

    <h1>Cars on our Lot:</h1>
    
    <a href="/cars/new">Add a new car to the lot</a>
    <hr>
    <a href='/cars'>See list of cars on our lot</a>
  </body>
</html>